
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    height: 34px;
    width: 130px;
    margin-right: px;
}

/* Reusable Classes */
.section-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 70px 0;
    position: relative;
}

header {
    position: absolute;
    padding-right: 50px;
    padding-left: 120px;
    top: 0;
    height: 70px;
    width: 100vw;
    background: rgba(0, 0, 0, 0.33);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    top: 0;
    z-index: 2;
    gap: 20px;


}



.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.cart-num {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: yellow;
}



.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

a {
    all: unset;
    color: white
}


/* hero section */

.hero {
    height: 100vh;
    width: 100vw;
    background: url("/img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
div.text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.background-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}

.hero img {
    z-index: 3;
    height: 331px;
    width: 331px;
    margin-bottom: 30px;
}


.hero h1 {
    z-index: 3;
    font-size: 72px;
    font-weight: 900;
    color: white;
    letter-spacing: 15px;
}

.hero p {
    z-index: 3;
    font-size: 36px;
    color: white;
    letter-spacing: 10px;
}


/* The Restaurant */


/* headings section */

.headings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}


.headings h1 {
    font-size: 36px;
    
}

.headings p:nth-child(2) {
    font-size: 24px;
    
}

.headings p:nth-child(3) {
    height: 3px;
    width: 150px;
    background-color: orange;
}

/* images and text section */

.images-and-text {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.main-image {
    height: 198px;
    width: 350px;
}

.small-images img {
    height: 110px;
    width: 175px;

}

.text {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 30px;
}

.text p {
    max-width: 750px;
    font-size: 22px;
}

.text img {
    height: 66px;
    width: 321px;
}



/* Todays special section */
.todays-special {
    background: url("/img/todays_special_bg_image.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 90px 0;
}


.todays-special-headings {
    color: white;
}

.carousel-parent {
    margin-top: 100px;
    display: flex;
}

.carousel-image {
    height: 413px;
    width: 330px;
    background: url("/img/carousel-image.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-text {
    width: 614px;
    height: 413px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 0 30px;
    background-color: white;
}

.carousel-text h2 {
    font-size: 30px;
    margin: 20px 0 10px;
}

.carousel-text p {
    font-size: 22px;
    margin:10px 0 15px;
}

.line {
    height: 3px;
    width: 150px;
    background-color: orange;
}


.order-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.order-buttons button {
    all: unset;
    width: 161px;
    height: 45px;
    background-color: #f9c56a;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
}

#second-button {
    background-color: #e9e5dd;
}